/*--------- TYPOS ---------*/

@font-face {
    font-family: "Caladea Regular";
    src: url("asset/font/Caladea/Caladea-Regular.ttf");
  }
  
  @font-face {
    font-family: "Caladea Bold";
    src: url("asset/font/Caladea/Caladea-Bold.ttf");
  }

  @font-face {
    font-family: "Caladea Bold Italic";
    src: url("asset/font/Caladea/Caladea-BoldItalic.ttf");
  }

  @font-face {
    font-family: "Caladea Italic";
    src: url("asset/font/Caladea/Caladea-Italic.ttf");
  }
  
  @font-face {
    font-family: "Wagon Bold";
    src: url("asset/font/Wagon/Wagon-Bold.otf");
  }

  @font-face {
    font-family: "Wagon ExtraLight";
    src: url("asset/font/Wagon/Wagon-ExtraLight.otf");
  }

  @font-face {
    font-family: "Wagon ExtraLightItalic";
    src: url("asset/font/Wagon/Wagon-ExtraLightItalic.otf");
  }



/*--------- TITRAGES ---------*/

h1{
    font-family: "Wagon Bold";
    margin:0;
    background-color: #161b27;
    color:#d8b1ed;
    font-size: 6em;
}

#sous-titre{
    font-family: "Caladea Regular";
    color:#161b27;
    background-color:#e9e4d8;
    font-size: 3em;
    font-weight: lighter;
}

h2{
    font-family: "Wagon Bold";
    color: #d8b1ed;
    font-size: 2em;
    margin: 5% 0;
    scroll-margin-top: 1.5rem;
}

h3{
    font-family: "Wagon ExtraLight";
    font-weight: lighter;
    color: #274e12;
    font-size: 1.85em;
    margin: 5% 0;
    scroll-margin-top: 1.5rem;
}

h4{
    font-family: "Wagon ExtraLightItalic";
    font-weight: lighter;
    color: #004b81;
    font-size: 1.7em;
    margin: 5% 0;
    scroll-margin-top: 1.5rem;
}

h5{
    font-family: "Caladea Bold";
    color:#161b27;
    font-size: 1.2em;
}

p{
    font-family: "Caladea Regular";
    color: #161b27;
    font-size: 1em;
    text-align:justify;
    margin: 5% 0;
    margin-bottom: 10%;
}


/*--------- STYLE LIENS ---------*/

a{
    cursor:pointer;
  }
  
  .lien{
    color: #faadde;
    background-color: #161b27;
  }
  
  .titre-oeuvre{
    font-family: "Caladea Italic";
    color: #274e12;
    background-color: #e9e4d8;
    text-decoration: none;
  }
  
  .artiste{
    color: #ffb47e;
    background-color: #161b27;
    text-decoration: none;
  }
  
  .auteur{
    color: #e9e4d8;
    background-color: #274e12;
    text-decoration: none;
    scroll-margin-top: 2rem;
  }
  
  .titre-ouvrage{
    font-family: "Caladea Italic";
    color: #f5f5f5;
    text-decoration: none;
  }

  .appel-notes{
    text-decoration: none;
    color:#faadde;
    /* background-color: #faadde; */
  }


/*--------- GENERAL ---------*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.page-titre{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align:justify;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #e9e4d8;
    z-index: 50;
}

.column-layout {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* Empêche les colonnes de déborder horizontalement */
    /* gap: 1rem; */
    /* padding: 2rem; */
    position: relative;
}

.column {
    flex-grow: 1;
    /*width: 33.33%;  Largeur initiale */
    min-width: 200px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #f5f5f5;
    /* padding: 1.5rem; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    scroll-behavior: smooth;
}

.resizer {
    width: 1px;
    background-color: #a4a4a4;
    cursor: ew-resize;
    position: relative;
    z-index: 1; /* S'assurer qu'ils sont au-dessus des colonnes */
    height: 100%; /* S'étend sur toute la hauteur de la colonne */
}


/* Gestion du scroll des colonnes */

.column::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.column::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.column::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.column::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*--------- COLONNE GAUCHE ---------*/

.column1 {
    background-color: #161b27;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement le contenu */
    justify-content: flex-start; /* Aligne le contenu en haut */
    width:31.77%;
    height: 100vh;
    position: relative; /* Nécessaire pour positionner le contenu avec `absolute` */
}

#titre-sommaire {
    font-family: "Wagon ExtraLight";
    font-weight: lighter;
    color: #e9e4d8;
    font-size: 1.5em;
    margin: 5% 0 0 5%;
    align-self: flex-start;
    cursor:pointer;
    z-index: 10;
}

#titre-sommaire:hover {
  color:#f5f5f5;
}

#titre-sommaire.toggle {
  color:#e9e4d8;
}

#titre-sommaire.toggle:hover {
  color:#faadde;
}

#Calque_1 {
    position: absolute; /* positionnement indépendamment */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    height: 95vh;
    width: auto;
    max-width: 100%; /* Empêche de dépasser la largeur de la colonne */
    max-height: calc(100% - 5% - 2em); /* Assure qu'il reste dans la colonne */
}

.cls-1 {
    fill: #d0d0d0;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2.66px;
    /* box-shadow: 8px 8px 5px 10px #faadde; */
}

.cls-1:hover {
    fill:#faadde;
    stroke:#f5f5f5;
    stroke-miterlimit: 10;
    stroke-width: 2.66px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 8px 8px 5px 10px #faadde;
}

/* .cls-1:active {
    fill:#faadde;
    stroke:#f5f5f5;
} */

.glow-hover {
    transition: filter 0.3s ease;
}

.glow-hover:hover {
    filter: url(#glow-effect);
}

.glow-circle {
  transition: filter 0.3s ease-in-out;
}

.active {
  filter: url(#glow-effect);
  fill:#faadde;
}


/* Détail du sommaire */


.sommaire-bis {
  display: none;
  position: absolute;
  flex-direction: column;
  width:100%;
  height:100%;
  box-sizing: border-box; /* Inclut le padding dans le calcul de la hauteur */
  /* opacity: 0; */
  transition: opacity 0.3s ease;
  background-color:#343332;
  padding-top: 10%;
  /* opacity:0.75; */
}

.sommaire-bis.show {
  display: flex;
  /* opacity: 1; */
}

.liste-sommaire{
  padding: 0 5%;
  text-align: left;
}

.liste-sommaire a {
  display: block;
  text-decoration: none;
  font-family: "Caladea Regular";
  color:#e9e4d8;
  font-size: 1em;
  margin: 3% 3%;
}

/* .liste-sommaire a:hover{
  color:#faadde;
} */


.a-h2:hover{
  font-family: "Wagon Bold";
  color: #d8b1ed;
  font-size: 1.5em;
} 

.a-h3:hover{
  font-family: "Wagon ExtraLight";
  font-weight: lighter;
  color: #274e12;
  font-size: 1.5em;

} 

.a-h4:hover{
  font-family: "Wagon ExtraLightItalic";
  font-weight: lighter;
  color: #004b81;
  font-size: 1.5em;
}

/*--------- COLONNE CENTRALE ---------*/
    
.column2 {
  background-color: #f5f5f5;
  width: 36.46%; /* Largeur définie dynamiquement */
  position: relative; /* Nécessaire pour que .zone-menu se réfère à elle */
  /*display: flex;
  flex-direction: column;  S'assure que les enfants s'empilent verticalement */
}

/* MENU DU SOMMAIRE */


.zone-menu {
  position: sticky; /* Se colle en haut de la colonne sans quitter celle-ci */
  top: 0; /* Colle l’élément au haut de la colonne */
  background-color: #274e12;
  padding: 4% 8%;
  z-index: 10; /* Reste au-dessus des autres éléments */
  width: 100%; /* Prend toujours la largeur de .column2 */
  box-sizing: border-box; /* Inclut les paddings dans la largeur */
}

.box-menu {
  background-color: white;
}

.box-menu p{
margin:0;
}


.menu-h2{
  font-family: "Wagon Bold";
  color: #d8b1ed;
}

.menu-h3{
  font-family: "Wagon ExtraLight";
  font-weight: lighter;
  color:#274e12;
}

.menu-h4{
  font-family: "Wagon ExtraLightItalic";
  font-weight: lighter;
  color:#004b81;
}

/* Liens principaux */
.menu-h2, .menu-h3, .menu-h4 {
  position: relative; /* Nécessaire pour que les menus déroulants se positionnent par rapport à eux */
  display: inline-block; /* Assure un comportement correct */
}

#menu-h2, #menu-h3, #menu-h4 {
padding: 5px 10px;
}

/* Conteneur des menus */
.menu-container {
  position: relative; /* Contexte pour positionner .dropdown-menu */
  display: inline-block;
}

/* Menus déroulants */
.dropdown-menu {
  display: none; /* Caché par défaut */
  position: absolute; /* Permet de positionner le menu par rapport au lien parent */
  top: 100%; /* Place le menu juste sous le lien parent */
  left: 0; /* Aligne le menu sur la gauche du lien parent */
  background-color: #f5f5f5; /* Exemple de style */
  padding: 5px 10px; /* Espacement interne */
  border: 1px solid #ccc; /* Bordure pour démarquer le menu */
  z-index: 10; /* Assure que le menu est au-dessus */
}

/* Liens dans les menus déroulants */
.dropdown-menu a {
  color: #000; /* Couleur du texte dans le menu */
  text-decoration: none;
}

/* Affichage des menus au survol */
.menu-container:hover .dropdown-menu {
  display: block; /* Affiche le menu lorsqu'on survole le lien parent */
}



/* DEFILEMENT DU TEXTE */

.zone-texte{
    padding: 10%;
}

#introduction{
  margin:0;
}
    
/*--------- COLONNE DROITE ---------*/
    
    /* img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
    display: block;
    scroll-margin-top: 2rem;
} */

.column3{
  /* height: 100vh; */
  /* margin: auto; */
  width:31.77%;
}

/* Section Oeuvres */

.section-oeuvres{
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: center; /* Centre horizontalement les éléments */
    gap: 1vw; /* Ajoute de l'espace entre les éléments */
    background-color: #e9e4d8;
    padding: 10%;
  }
  
  #titre-oeuvres{
    color:#faadde;
    align-self: flex-start;
    margin:0;
  }

  .section-oeuvres img{
  max-width: 23vw;
  height: auto;
  margin-top:1.5vw;
  display: block;
  scroll-margin-top: 2rem;
  }
  
  .descriptions-oeuvres{
    height: auto;
    font-family: "Caladea Regular";
    color: #004b81;
    font-size: 0.95em;
  }


/* Section Notes */

.section-notes{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #004b81;
    color: #e9e4d8;
    font-family: "Caladea Regular";
    font-size: 0.95em;
    padding: 10%; 
  }
  
  #titre-notes{
    color: #faadde;
  }

/* Section Bibliographie */

.section-bibliographie{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #ffb47e;
    color: #004b81;
    font-family: "Caladea Regular";
    font-size: 0.95em;
    padding: 10%; 
    width:100%;
    box-sizing: border-box;
  }

  #titre-bibliographie{
    color:#274e12;
  }

  .highlight-bibliographie{
    color:white;
    background-color: #004b81;
  }