body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.page-titre{
    display: flex;
    position: absolute;
    text-align:justify;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    z-index: 50;
}

.column-layout {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* Empêche les colonnes de déborder horizontalement */

    /* gap: 1rem; */
    /* padding: 2rem; */
    position: relative;
}

.column {
    flex-grow: 1;
    width: 33.33%; /* Largeur initiale */
    min-width: 200px;

    overflow-x: auto;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 1.5rem;
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    scroll-behavior: smooth;
}

.resizer {
    width: 1px;
    background-color: #a4a4a4;
    cursor: ew-resize;
    position: relative;
    z-index: 1; /* S'assurer qu'ils sont au-dessus des colonnes */
    height: 100%; /* S'étend sur toute la hauteur de la colonne */
}

h2 {
    color: #333;
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
    display: block;
    scroll-margin-top: 1.5rem;
}

/* Gestion du scroll des colonnes */
.column::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.column::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.column::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.column::-webkit-scrollbar-thumb:hover {
    background: #555;
}
